/*
  Josh's Custom CSS Reset - Tweaked
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: #4B3F72;
}

footer {
    margin-top:auto;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2041;
    color: #DEE1E3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A81031;
    width: 100%;
    padding: 2% 5%;
    color: #D4C5C7;
}
h1 {
    font-size: 2rem;
    font-weight: bolder;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: column;
    color: #DEE1E3;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}
.option-container {
    margin-bottom: 5rem;
    text-align: center;
}
.score-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.score-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button {
    font-size: 5rem;
    margin: 10%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}
.result-icon {
    font-size: 2rem;
}
.result {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.popup-card {
    display: flex;
    text-align: center;
    color: #DEE1E3;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: pointer;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    background-color: #1F2041;
    border-radius: 10px;
}
.popup-card[data-visible="hidden"] {
    visibility: hidden;
}
.popup-card[data-visible="visible"] {
    visibility: visible;
}

button[data-visible="hidden"] {
    display: none;
}
